*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
src/app/icon.png !filter !diff !merge text=auto
src/app/apple-icon.png !filter !diff !merge text=auto
public/logo.png !filter !diff !merge text=auto
image.png !filter !diff !merge text=auto
